tr:nth-child(even) {background: #ededed}
/* Change the #CCC for the colored row */

body {
  background-color: #fefbf7;
}

.page-header {
  text-align: center;
}

.totalTransactions {
  text-align: center;
  
}

.Name {
  
}